[submodule "jfamily-ai-context"]
	path = jfamily-ai-context
	url = https://github.com/jfamily4tw/jfamily-ai-context.git
[submodule ".aicore"]
	path = .aicore
	url = https://github.com/jfamily4tw/jfamily-ai-context.git
